body {
    background-color: black;
}
h1 {
    font-size: 70px;
    color: rgb(158, 51, 51);
    text-align: center;
}
p {
    margin-top: 100px;
    font: 250px;
    color: rgb(129, 48, 48);
    text-align: center;
}
img {
    width: 425px;
    margin: 95px;
    border: 5px solid rgb(122, 33, 33);
}
.cabecalho{
    background-color: rgb(122, 16, 16);
    display: flex;
}
.logoimg{
    width: 250px;
    margin: 15px;
    margin-right: 100px;
}
.listacabecalho{
    display: flex;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 100px;
}
.itemcabecalho{
    list-style: none;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    padding-left: 35px;
}